@charset "utf-8";
li {
  display: inline;
  background-color: "0,0,0";
}
a:link,
a:visited {
  color:black ; <!-- psuedoclass-->
  font-weight: bold;
}

a:hover {
  color:rebeccapurple;
}
h1{<!--psuedo elements-->
  font-size: 120%;
  font-weight: italic;
}
