@charset "utf-8";

li{
	style="color:red";
	style="font-family:verdana";
}


body{
	background-color: rgb(204, 204, 255);
}
h2 {<!--overflow-->
  width: 300px;
  height: 65px;
  
  overflow: visible;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}